name: Build

on: [push, pull_request]

env:
  CARGO_TERM_COLOR: always

jobs:
  buildx64:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v2
    - name: Build
      run: |
        rustup default nightly
        cargo build --release --verbose

    - name: Clippy
      run: cargo clippy

    - name: Upload DLL
      uses: actions/upload-artifact@v2
      with:
        name: 64 Bit
        path: target/release/Autorun.dll

  # In the future make this run on an x86 machine https://github.com/actions/runner/issues/423
  buildx86:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v2
    - name: Build
      run: |
        rustup default nightly
        rustup target add i686-pc-windows-msvc
        cargo build --release --verbose --target=i686-pc-windows-msvc

    - name: Upload DLL
      uses: actions/upload-artifact@v2
      with:
        name: 32 Bit
        path: target/i686-pc-windows-msvc/release/Autorun.dll
